{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row">
    <!-- Columna para imágenes de usuario -->
    <div class="col-md-4 position-relative">
        <!-- Botón de JUGAR con clase personalizada -->
        <a href="{% url 'jugar' %}" class="btn btn-lg btn-block custom-btn mt-3" style="position: relative; z-index: 2;">¡JUGAR!</a>
        
        <!-- Imagen posicionada de forma absoluta debajo del botón -->
        {% if not user.is_authenticated %}
            <img src="{% static 'img/bufon.1.png' %}" alt="Imagen predeterminada" class="img-fluid custom-image">
        {% else %}
            <img src="{% static 'img/bufon.2.png' %}" alt="Imagen de usuario" class="img-fluid custom-image">
        {% endif %}
    </div>

    <!-- Columna para mostrar mejores jugadas -->
    <div class="col-md-8">
        <h3>Mejores Jugadas</h3>
        <form method="get" class="form-inline mb-2">
            <label for="fecha">Fecha:</label>
            <input type="date" id="fecha" name="fecha" class="form-control mx-2" value="{{ fecha_filtrada }}">
            <button type="submit" class="btn btn-secondary">Filtrar</button>
        </form>
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th>Jugador</th>
                    <th>Puntaje</th>
                    <th>Fecha</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for juego in juegos %}
                <tr>
                    <td>{{ juego.usuario.username }}</td>
                    <td>{{ juego.puntaje }}/4</td>
                    <td>{{ juego.fecha }}</td>
                    <td>
                        {% if juego.id not in juegos_liked_by_user %}
                            <form action="{% url 'like_resultado' juego.id %}" method="post" class="d-inline">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-link p-0 like-btn">
                                    <i class="far fa-heart like-icon" style="font-size: 20px;"></i>
                                </button>
                            </form>
                        {% else %}
                            <i class="fas fa-heart liked-icon" style="font-size: 20px;"></i>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
