{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Seleccione una Categoría</h2>
    <form method="post" action="{% url 'jugar' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="categoria">Categoría:</label>
            <select id="categoria" name="categoria" class="form-control" required>
                {% for categoria in categorias %}
                <option value="{{ categoria.id }}">{{ categoria.nombre }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Comenzar a Jugar</button>
    </form>
</div>
{% endblock %}
